body
{
background:rgb(140,200,100);
}

h1
{
background:rgb(80,80,80);
color:white;
border-radius:20px;
text-align:center;
}

p
{
background:rgb(50,50,50);
color:white;
border-radius:20px;
text-align:right;
font-style:italic;

}
table
{
padding:10px;
background:rgb(80,80,100);
text-align:center;
}
th
{
background:rgb(180,180,230);
border-radius:2px;
font-size:25pt;
}

a
{
font-size:20pt;
text-decoration:none;
color:white;
}

td,th
{
padding:20px;
}

#td
{
background:rgb(250,200,100)	
}

#td:hover
{
background:rgb(220,180,100)	
}