img
{
width:1000px;
height:480px;
}

body
{
	background-color:rgb(30,30,30);
}
.arrow
{
background-color:rgb(30,30,30);	

}

a:hover
{
color:blue;
text-shadow:20px lightblue;	
}

a
{
	text-decoration:none;
	color:white;
}

h1
{
position:absolute;
width:600px;
height:5px;
left:50px;
top:380px;
background:transparent;
color:rgb(180,180,150);
text-shadow:15px  7px rgb(50,50,50);
font-family:arial;
font-size:75pt;
}

#tgl
{
font-size:60pt;	
background:rgb(180,180,220);
color:white;
width:100px;
font-family:algerian;
text-align:center;
position:absolute;
right:50px;
bottom:265px;
box-shadow:8px 5px 8px rgb(100,100,100);
}

#tgl1
{
font-size:13pt;	
background:rgb(160,160,160);
color:white;
width:100px;
font-family:arial;
text-align:center;
position:absolute;
right:50px;
bottom:300px;
box-shadow:8px 5px 8px rgb(100,100,100);
}

#jam1
{
font-size:18pt;	
background:rgb(80,80,80);
color:rgb(80,160,160);
width:150px;
font-family:arial;
text-align:center;
position:absolute;
top:502px;
right:20px;
box-shadow:8px 5px 8px rgb(100,100,100);
}

#marq
{
font-size:18pt;	
background:rgb(30,30,30);
color:rgb(256,50,50);
font-family:arial;
text-align:center;
position:absolte;
bottom:502px;
box-shadow:8px 5px 8px rgb(100,100,100);
}
