h1
{
background:rgb(120,150,220);
border-radius:5px;
text-align:center;
color:white;
padding-left:100px;
padding-right:100px;
}

#h1
{
background:rgb(180,200,100);
border-radius:5px;
text-align:center;
color:white;
padding-left:100px;
padding-right:100px;
}


table
{
padding:40px;
border:2px solid black;
width:900px;
border-radius:10px;
border:none;
}

table
{
background:rgb(220,220,220);
padding-right:350px;
}

body
{
background-color:rgb(180,200,220);
}








