h1
{
background:rgb(80,80,80);
color:white;
border-radius:20px;
text-align:center;
}

#id
{
	background:rgb(170,170,170);
	width:20px;
	border-radius:5px;
	padding:8px;
	color:white;

}

input[type=number]
{
border-radius:2px;
width:100px;
font-size:20pt;
border:none;
background-color:rgb(200,190,256);
color:white;
}

input[type=text]
{
border-radius:2px;
width:300px;
font-size:20pt;
border:none;
background-color:rgb(200,190,256);
color:white;
}


input[type=text]:hover
{
background:rgb(180,180,120);
}

input[type=button]
{
font-size:20pt;	
background:rgb(180,180,150);
border:none;
color:white;
width:520px;
height:30px;
font-family:banhaus 93;
text-align:center;
box-shadow:4px 2px 4px rgb(100,100,100);
}
#h1
{
background:rgb(200,200,150);
padding:20px;
width:700px;
}
#cekk,#cekk1
{
background:rgb(200,200,150);
padding:20px;
width:400px;
font-size:20pt;
font-family:banhaus 93;
}
input[type=button]:hover
{
background:rgb(180,180,120);
}



input[type=number]:hover
{
background:rgb(180,180,120);
}